<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="style/page.css" />
    <% include partials/includes %>
</head>

<body>
    <% include partials/nav %>

    <% include partials/footer %>
</body>

</html>