<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="style/page.css" />
    <% include partials/includes %>
</head>

<body>
    <% include partials/nav %>

    <div class="homeImg">
        <div class="homeDiv center">
            <h1 class="titleMain">JOHN BRETZ</h1>
            <h3>a computer engineer student</h3>
        </div>
        <div class="homeSouth">
            <h4><a class="stealthLink subPmin padX0" href="#">Read More</a></h4>
            <button class="smoothScrollBtn" type="button"><img src="images/Down-Arrow-White.png" width="30"></button>
        </div>
    </div>

    <div class="container-fluid aboutMe">
        <div class="container aboutMe">
            <div class="row rowPad">
                <div class="col-md-4">
                    <img src="images/IMG_1964_cmp.jpg" class="circleImg"></img>
                </div>
                <div class="col-md-8">
                    <p class="pad20">Welcome to my website. I am a second year computer
                        engineer student at Milwaukee School of Engineering. In the
                        past few years I have worked on many independent
                        projects alongside my formal education.
                        I have advanced knowledge in Java and C, experience designing custom electronic
                        circuits/robotics,
                        as well as building this website.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid softwareImg">
        <div class="container softwareDiv">
            <h1 class="leftTitle subTitle white" style="padding-top: 0px">SOFTWARE</h1>
            <div class="row">
                <div class="col-md-6 tilePadWide softTileBack col1Pad">
                    <h3 class="white regTitle cenX">JAVA</h3>
                    <h5 class="tileDesc subPmin white">4 years object oriented design of data structures, and user interfaces</h5>
                    <ul class="centerLinks">
                        <li style="display:inline-block;">
                            <a href="/software#top">
                                <p>View all projects</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 tilePadWide softTileBack col2Pad">
                    <h3 class="white regTitle cenX">C</h3>
                    <h5 class="tileDesc subPmin white">1 year developing efficient low-level
                        algorithms and data structures using the unix terminal</h5>
                    <ul class="centerLinks">
                        <li style="display:inline-block;">
                            <a href="software#top">
                                <p>View all projects</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 tilePadWide softTileBack col1Pad">
                    <h3 class="white regTitle cenX">EMBEDDED</h3>
                    <h5 class="tileDesc subPmin white">1 year microcontroller programming and
                        circuit design for FPGAs, and assembly programs on a STM32 microcontroller</h5>
                    <ul class="centerLinks">
                        <li style="display:inline-block;">
                            <a href="hardware#top">
                                <p>View all projects</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <a class="btn btn-outline-secondary btn-lg centerBtn" href="software" role="button">Learn More</a>
            </div>
        </div>
    </div>

    <div class="container-fluid hardwareBack">
        <div class="container extraSpace">
            <h2 class="centerTitle subTitle padX0 padtop0">HARDWARE</h2>
            <div class="row">
                <div class="col-lg-12 tilePadWide">
                    <div>
                        <h3 class="cenX subTitle padX0">SINGLE CYCLE PROCESSOR</h3>
                        <h5 class="tileDesc subPmin">A processor designed to run ARMv4 instruction set where one instruction completes every clock cycle</h5>
                    </div>
                </div>
                <a class="btn btn-secondary btn-lg centerBtn" href="hardware" role="button">Learn More</a>
            </div>
        </div>
    </div>

    <% include partials/footer %>
    <script src="scripts/libs/jquery.min.js"></script>
    <!-- Odometr includes -->
    <link rel="stylesheet" href="style/odometer-theme-default.css" />
    <script src="scripts/libs/odometer.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
</body>

</html>